body{
  margin: 0;
  overflow: hidden;
}

.option-cont{
  position: fixed;
  right: 25px;
  top: 25px;
}

select{
  background-color: rgba(0, 0, 0, 0.486);
  color: white;
  backdrop-filter: blur(4px);
  border-radius: 15px;
  padding: 5px;
  border-width: 2px;
}
