.selectContainer {
  position: absolute;
  bottom: 25px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.exitButtonContainer {
  position: absolute;
  right: 30px;
  top: 30px;
  display: flex;
  z-index: 1;
}

.hidden {
  display: none;
}